db:
  postgres:
    user: "web3user"
    password: "hoCeey9g"
    db_name: "web3db"
    host: "10.255.13.2"
    port: "5432"
    ssl_mode: "disable"
    max_open_conns: 50
    max_idle_conns: 15
    conn_max_idle_time_sec: 30

subgraph_path: "./subgraphs"
graph_node_url: "http://192.168.0.40:8020" # USE ONLY ADMIN PORT
grpc_port: 5010

networks:
  - sepolia:
    upstream_url: "https://b.dev.web3gate.ru:32443/045320f8-912e-4a30-a8c3-980c809aeb17"
    name: "sepolia"

#  - holesky:
#    upstream_url: "https://b.dev.web3gate.ru:32443/bcb9ec93-79c9-410a-90d8-2e4f25d72949"
#    name: "holesky"
#
#  - mainnet:
#    upstream_url: "https://b.dev.web3gate.ru:32443/eaee189c-eed9-4925-ad83-b422934fdf27"
#    name: "mainnet"
