db:
  postgres:
    user: "graph-node"
    password: "rt-password"
    db_name: "graph-node"
    host: "192.168.0.40"
    port: "5432"
    ssl_mode: "disable"
    max_open_conns: 50
    max_idle_conns: 15
    conn_max_idle_time_sec: 30

subgraph_path: "./subgraphs"
graph_node_url: "http://192.168.0.40:8020" # USE ONLY ADMIN PORT

networks:
  - sepolia:
    upstream_url: "https://b.dev.web3gate.ru:32443/ea189d6e-f115-4187-a088-fd1f0a0b41d7"
    name: "sepolia"
    update_delay: "60s"
    request_delay: "500ms"

#  - holesky:
#    upstream_url: "https://b.dev.web3gate.ru:32443/b0ba9939-7e34-4a4c-a143-df29f6edfa56"
#    name: "holesky"
#    update_delay: "60s"
#    request_delay: "500ms"

#  - mainnet:
#    upstream_url: "https://b.web3gate.ru/eca6db8b-45d9-446c-bafa-5ea9bc5e1ce0"
#    name: "mainnet"
#    update_delay: "60s"
#    request_delay: "1000ms"
