db:
  postgres:
    user: "graph-node"
    password: "let-me-in"
    db_name: "graph-node"
    host: "localhost"
    port: "5432"
    ssl_mode: "disable"
    max_open_conns: 50
    max_idle_conns: 15
    conn_max_idle_time_sec: 30

#upstream_url: "https://go.getblock.io/257b22a46e7948758459ae4aa1009888" # mainnet
#upstream_url: "https://mainnet.infura.io/v3/726da33cd7d94de49d09c2b69612d199" # mainnet
#network: "mainnet"
upstream_url: "https://sepolia-eth.dev.web3gate.ru:32443/d95d6f7f-bd5b-4145-8c5f-6506cf44b5d4" # sepolia
network: "sepolia"

subgraph_path: "./subgraphs"
update_delay: "1m"
request_delay: "500ms"