[deployment]
[[deployment.rule]]
indexers = [ "default" ]


[store]
[store.primary]
connection = "postgresql://graph-node:let-me-in@graph-postgres/graph-node"
weight = 1
pool_size = 5

[chains]
ingestor = "block_ingestor_node"

# [chains.mainnet]
# shard = "primary"
# provider = [ { label = "mainnet", url = "https://mainnet.infura.io/v3/726da33cd7d94de49d09c2b69612d199", features = [] } ]

[chains.sepolia]
shard = "primary"
provider = [ { label = "sepolia", url = "https://sepolia.infura.io/v3/726da33cd7d94de49d09c2b69612d199", features = [] } ]

# [chains.holesky]
# shard = "primary"
# provider = [ { label = "holesky", url = "https://holesky.infura.io/v3/726da33cd7d94de49d09c2b69612d199", features = [] } ]

# [chains.amoy]
# shard = "primary"
# provider = [ { label = "amoy", url = "https://go.getblock.io/f9550a92c04647a8bbde2f8bfbc23fcd", features = [] } ]

# [chains.testnet]
# shard = "primary"
# provider = [ { label = "testnet", url = "https://go.getblock.io/5c740d860e6b4f41a9fb7058a17f88b4", features = [] } ]%