version: '3.8'
services:

  postgres:
    image: postgres
    container_name: graph-postgres
    ports:
      - '5432:5432'
    command:
      [
        "postgres",
        "-cshared_preload_libraries=pg_stat_statements",
        "-cmax_connections=200"
      ]
    stop_grace_period: 1m
    environment:
      POSTGRES_USER: graph-node
      POSTGRES_PASSWORD: let-me-in
      POSTGRES_DB: graph-node
      # FIXME: remove this env. var. which we shouldn't need. Introduced by
      # <https://github.com/graphprotocol/graph-node/pull/3511>, maybe as a
      # workaround for https://github.com/docker/for-mac/issues/6270?
      PGDATA: "/var/lib/postgresql/data"
      POSTGRES_INITDB_ARGS: "-E UTF8 --locale=C"
    volumes:
      #      - /opt/graph-node/postgres:/var/lib/postgresql/data:rw
      - ./data/postgres:/var/lib/postgresql/data:rw

  graph-node:
    image: graphprotocol/graph-node
    container_name: graph-node
    stop_grace_period: 1m
    ports:
      - '8000:8000'
      - '8001:8001'
      - '8020:8020'
      - '8030:8030'
      - '8040:8040'
    depends_on:
      - ipfs
      - postgres
      #extra_hosts:
      #- host.docker.internal:host-gatewaoy
    volumes:
      - ./config.toml:/app/config.toml
    environment:
      ipfs: "http://ipfs:5001"
      GRAPH_NODE_CONFIG: /app/config.toml
      GRAPH_LOG: info

  ipfs:
    image: ipfs/kubo:release
    container_name: ipfs
    ports:
      - "4001:4001"
      - "5001:5001"
      - "8080:8080"
    volumes:
      #- /opt/ipfs_data:/data/ipfs:rw
      #      - /opt/graph-node/ipfs:/data/ipfs:rw
      - ./data/ipfs:/data/ipfs

#  testgraph:
#    image: testgraph:latest
#    container_name: testgraph
#    environment:
#      VAULT_ADDRESS: https://10.255.13.3:8200
#      VAULT_SECRET_ID: 8280274b-ddd1-5dda-b6be-9a471761bf37
#      VAULT_SECRET_PATH: secrets/data/dev-creds/nft-graph-forge
#      VAULT_ROLE_ID: e46739d6-78f0-2dca-c9b2-115def23b50b
#    command:
#      [
#        "export PATH=$PATH$:/node_modules/.bin/"
#      ]
#    depends_on:
#      - graph-node
#    volumes: ./subgraphs:./bin/subgraphs